.frmtx {
    --font-size: 100%;
    --font-family: inherit;
    --font-color: inherit;
    --background-color: #0000002f;
    --background-color-selected: #0080ff79;
    --border-color: #00000044;
    --border-width: 1px;
    --border-radius: 10px;
    margin: 1rem;
    min-width: 240px
}

.frmtx * {
    color: var(--font-color);
    font-family: var(--font-family);
    font-size: var(--font-size);
    margin: 0;
    padding: 0;
    appearance: auto;
    outline: none;
    box-sizing: border-box
}

.frmtx label {
    padding: 0;
    margin: 1em 0 .3em;
    display: block;
    line-height: 1.3
}

.frmtx label:first-child {
    margin-top: 0
}

.frmtx input,
.frmtx textarea,
.frmtx button {
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
    background-color: var(--background-color)
}

.frmtx input,
.frmtx textarea {
    width: 100%;
    resize: none;
    padding: .5em;
    line-height: 1.3
}

.frmtx input[name="_gotcha"] {
    display: none
}

.frmtx input[type="checkbox"] {
    display: inline;
    width: 1.1em;
    height: 1.1em;
    appearance: auto;
    margin-right: .2em
}

.frmtx button {
    display: block;
    padding: .5em 1.5em;
    margin: 1.5em 0 0;
    line-height: 1.5;
    font-weight: bold;
    cursor: pointer
}

.frmtx .rg {
    display: flex;
    flex-wrap: wrap;
    gap: .6em;
    margin-top: .9em
}

.frmtx .rg input {
    display: none
}

.frmtx .rg label {
    margin: 0;
    padding: .3em 1em;
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
    line-height: 1.5;
    cursor: pointer;
    background-color: var(--background-color)
}

.frmtx .rg input:checked+label {
    background-color: var(--background-color-selected)
}

.form-class {
    display: none;
}