body {
  margin: 0;
  background: #000;
  overflow: hidden;
  font-family: Arial;
}

#cameraContainer {
  position: fixed;
  inset: 0;
  overflow: hidden;
}

#camera {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#canvas {
  display: none;
}

#ui {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.topbar {
  position: absolute;
  top: 20px;
  right: 20px;
  pointer-events: auto;
}

.sliderBox {
  position: absolute;
  bottom: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  pointer-events: auto;
}

#zoomSlider {
  width: 60%;
}

.bottombar {
  position: absolute;
  bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  pointer-events: auto;
}

.shutter {
  width: 80px;
  height: 80px;
  background: white;
  border-radius: 50%;
  border: 8px solid rgba(255,255,255,0.7);
}
